NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=event_planning

JWT_ACCESS_SECRET=your_secret_key
JWT_REFRESH_SECRET=your_secret_key

FRONTEND_URL=http://localhost:5173
LOG_LEVEL=info