@import "tailwindcss";

@theme {
  --color-background: #080b06;
  --color-background-soft: #0d120a;

  --color-surface: #10160c;
  --color-card: #121910;
  --color-card-hover: #171f13;
  --color-input: #0e150b;

  --color-border: #303a1d;
  --color-border-hover: #4a5729;
  --color-border-active: #6c7a3b;

  --color-primary: #b8c878;
  --color-primary-hover: #c9d98a;
  --color-primary-active: #a6b665;

  --color-secondary: #41431b;
  --color-secondary-hover: #55582a;
  --color-secondary-muted: #292b13;

  --color-cream: #f8f3e1;
  --color-cream-secondary: #e3dbbb;

  --color-foreground: #f8f3e1;
  --color-foreground-secondary: #d8d5c1;
  --color-muted: #969b88;
  --color-placeholder: #666d5a;
  --color-disabled: #454a3d;

  --color-icon: #b8c878;
  --color-icon-muted: #727a60;

  --color-success: #aebf72;
  --color-warning: #d5b96a;
  --color-danger: #d9786f;
  --color-info: #8da99a;

  --color-success-bg: #151e0d;
  --color-warning-bg: #211c0d;
  --color-danger-bg: #24120f;
  --color-info-bg: #101b17;
}
body {
  margin: 0;
  background-color: #12130a;
}
